{% extends "base.html" %}
{% load static %}
{% block Title %}
    Landingpage
{% endblock %}

{% block main-content %}
    <section id="intro">
        <div class="container-fluid text-center centerstage my-auto">
            <div class="row">
                <div>
                    <img class="img-fluid main-logo" src="{% static 'landingpage/images/logo-big-white.png' %}">
                </div>
            </div>
            <div class="row my-5">
                <div class="text-center">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <a><i class="bi bi-instagram" style="font-size: 1.10rem;"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a><i class="bi bi-github" style="font-size: 1.10rem;"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a><i class="bi bi-linkedin" style="font-size: 1.10rem;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% if images %}
    <section id="gallery">
        <div class="container-fluid">
            <div class="row text-center mb-5">
                <div>
                    <h1 class="display-5">Gallery</h1>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 px-auto">
                        {% for image in images %}
                        <div class="col my-2">
                            <div class="card bg-transparent hover-overlay">
                                <a href="{{image.image_path.url}}"><img class="card-img" src="{{image.image_thumbnail_path.url}}"></a>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <script>

    </script>
{% endblock %}