{% extends "base.html" %}
{% load static %}
{% block Title %}
{{block.super}}
{% endblock %}

{% block head-content %}
{% endblock %}

{% block inside-main-div %}
<section class="module home-module home-height-auto" style="padding-bottom:30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-0">
        {% for project in all_projects %}
        <div class="row">
          <div class="">
            <div class="post">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="/projects/{{project.id}}">{{project.title}}</a></h2>
                <div class="post-meta">By&nbsp;{{project.author}} | {{project.created_on|date:"M d, Y"}}</div>
                {% if project.source_code_link or project.project_link %}
                <div class="post-meta">
                  {% if project.source_code_link %}
                    <a href="{{project.source_code_link}}"><u>Source code</u></a>
                  {% endif %}

                  {%if project.project_link %}
                   | <a href="{{project.project_link}}"><u>Project link</u></a>
                  {% endif %}
                </div>
                {% endif %}
              </div>

              {% if project.thumbnail %}
                <div class="post-thumbnail"><a href="/projects/{{project.id}}"><img src="{{project.thumbnail.url}}" alt="{{project.name}} Thumbnail"/></a></div>
              {% endif %}

              {% if project.summary %}
                <div class="post-entry">
                  <p>{{project.summary}}</p>
                </div>
              {% endif %}

              <div class="post-more"><a class="more-link" href="/projects/{{project.id}}">Read more</a></div>
            </div>
          </div>
        </div>

        {% endfor %}
        
        
        {% if page.has_previous or page.has_next %}
        <div class="pagination font-alt">
          {% if page.has_previous %}
            <a href='/projects?page={{page.current|add:"-1"}}'><i class="fa fa-angle-left"></i></a>
          {% endif %}
          
          {% if page.has_next %}
            <a href='/projects?page={{page.current|add:"1"}}'><i class="fa fa-angle-right"></i></a>
          {% endif %}
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts-content %}
{% endblock %}