<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
        {% block Title %}Rohan Deshmukh{% endblock %}
    </title>

    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Indian photographer interested in landscape, astrophotography. Developer in Python, Machine learning and cloud automation.">
	<meta name="keywords" content="photographer, astrophotography, india, developer, python, machine learning">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'photography/assets/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'photography/assets/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'photography/assets/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'photography/assets/images/favicons/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="{% static 'photography/assets/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'photography/assets/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'photography/assets/css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'photography/assets/css/colors/default.css' %}" rel="stylesheet">

    <style>
        .flex-direction-nav .flex-prev {
          opacity: 0;
          left: 0;
          cursor: url({% static 'photography/assets/images/prev-light.png' %}), e-resize;
        }

        .flex-direction-nav .flex-next {
          opacity: 0;
          right: 0;
          cursor: url({% static 'photography/assets/images/next-light.png' %}), e-resize;
        }

    </style>

    {% block head-content %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EVTQB4KSKK"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EVTQB4KSKK');

    </script>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="50">
    <main>
    <!-- Page Preloder -->
	<div class="page-loader">
        <div class="loader">Loading...</div>
	</div>

    <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img id="navbar-logo-img" src="{% static 'photography/assets/images/navbar_logo.png' %}" alt="Rohan">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="/gallery" data-toggle="dropdown">Gallery</a>
                    {% if navbar_elements.gallery_options %}
                    <ul class="dropdown-menu">
                        {% for item in navbar_elements.gallery_options %}
                            <li class="nav-item"><a href="/gallery?filter={{item.id}}">{{item.name}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% if navbar_elements.travel_diaries %}
                <li class="dropdown"><a class="dropdown-toggle" href="/travels" data-toggle="dropdown">Travel Diaries</a>
                    <ul class="dropdown-menu">
                        {% for item in navbar_elements.travel_diaries %}
                            <li class="nav-item"><a href="/travels/{{item.id}}">{{item.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if navbar_elements.all_projects %}
                <li class="dropdown"><a class="dropdown-toggle" href="/projects" data-toggle="dropdown">Projects</a>
                    <ul class="dropdown-menu">
                        {% for item in navbar_elements.all_projects %}
                            <li class="nav-item"><a href="/projects/{{item.id}}">{{item.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item"><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </nav>

      {% block inside-main-tag %}{% endblock %}
        <div class="main">
          {% block inside-main-div %}{% endblock %}
          <footer class="footer bg-dark">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <p class="copyright font-alt">&copy; 2017&nbsp;<a href="https://themewagon.github.io/titan/index.html">TitaN</a>, All Rights Reserved</p>
                </div>
                <div class="col-sm-6">
                  <div class="footer-social-links">
                    <a target="_blank" href="https://www.instagram.com/cosmicpasta/"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="https://github.com/rohhn"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
        </div>
    </main>

	<!--
    JavaScripts
    =============================================
    -->
    <script src="{% static 'photography/assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'photography/assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'photography/assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'photography/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'photography/assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'photography/assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'photography/assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'photography/assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'photography/assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'photography/assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'photography/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'photography/assets/js/plugins.js' %}"></script>
    <script src="{% static 'photography/assets/js/main.js' %}"></script>

</body>

{% block scripts-content %}
{% endblock %}

</html>