{% extends "base.html" %}
{% load static %}
{% block Title %}
{{block.super}}
{% endblock %}

{% block head-content %}
{% endblock %}

{% block inside-main-tag %}
<section class="module home-module home-height-auto bg-dark-30 bg-dark" style="height: 100vh; background-size:cover; background-image:url({{profile_photos.0.thumbnail.url}});">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-8">
        <div class="post-images-slider">
          <ul class="slides">
              {% for image in profile_photos %}
                <li><img style="max-height:500px" class="center-block" src="{{image.thumbnail.url}}" alt="Profile"/></li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 text-center">
        <div class="work-details">
          <h2 class="work-details-title font-alt">Rohan Deshmukh</h2>
          <p>Techie on a weekday, explorer on the weekend!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts-content %}
{% endblock %}