{% extends "photography/gallery.html" %}
{% load static %}
{% block Title %}
    {{block.super}} | {{image.title}}
{% endblock %}

{% block main-content %}

    <section id="image">
        <div class="container px-5 mt-5">
            <div class="card bg-dark-translucent p-3">
                <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
                    <div class="col col-sm-12 col-md-12 col-lg-4">
                        <h2 class="card-title display-5">{{image.title}}</h2>
                        <p class="card-text">
                            test
                        </p>
                    </div>
                    <div class="col col-sm-12 col-md-12 col-lg-8 mx-auto">
                        <img id="display-img" class="img-fluid" src="{{image.image_thumbnail_path.url}}">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts-content %}
    <!-- <script>
        $(document).ready(function() {
            let main = document.querySelector('main');
            main.classList.add('h-75');
        });
        // console.log(document.querySelector('main').getAttributeNames())
    </script> -->
    <script>
        $(document).ready(function() {
            let body = document.querySelector('body');
            console.log(body.clientHeight);

            let nav = document.querySelector('nav');
            console.log(nav.clientHeight);

            let footer = document.querySelector('footer');
            console.log(footer.clientHeight);

            let display_image = document.querySelector('#display-img');
            console.log((body.clientHeight - nav.clientHeight - footer.clientHeight - 150));
            display_image.style.maxHeight = (body.clientHeight - nav.clientHeight - footer.clientHeight - 150) + 'px';

            footer.classList.add('position-relative')
            footer.classList.add('bottom-0')
        });
    </script>
{% endblock %}