{% extends "base.html" %}
{% load static %}
{% block Title %}
{{block.super}}
{% endblock %}

{% block head-content %}
{% endblock %}

{% block inside-main-tag %}
    <section class="home-section home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
          {% if featured_images %}
          <ul class="slides">
            {% for image in featured_images %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({{image.thumbnail.url}});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-50"><img style="max-height: 25vh; max-width: 75vw" src="{% static 'photography/assets/images/main_index_logo.png' %}" alt="Rohan D"></div>
                  <div class="font-alt mb-10 titan-title-size-1" style="font-size:12px">Programmer, Photographer</div>
                  <div class="section-scroll social-links-hr">
                    <a target="_blank" href="https://www.instagram.com/cosmicpasta/"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="https://github.com/rohhn"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-50"><img style="max-height: 25vh; max-width: 75vw" src="{% static 'photography/assets/images/main_index_logo.png' %}" alt="Rohan D"></div>
              <div class="font-alt mb-10 titan-title-size-1" style="font-size:12px">Programmer, Photographer</div>
              <div class="section-scroll social-links-hr">
                <a target="_blank" href="https://www.instagram.com/cosmicpasta/"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://github.com/rohhn"><i class="fa fa-github"></i></a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </section>
{% endblock %}


{% block scripts-content %}
<script>
    $(document).ready(function() {

        let body = document.querySelector('body');
        let nav = document.querySelector('nav');

        // Hide the logo on landing page
        document.getElementById('navbar-logo-img').style.display='none';

        // Hide the footer on landing page
        let footer = document.querySelector('footer');
        footer.style.display='none';

    });

</script>
{% endblock %}