{% extends "base.html" %}
{% load static %}
{% block Title %}
    Landingpage
{% endblock %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'photography/css/masonry-index.css' %}">
{% endblock %}

{% block main-content %}
    <section id="intro" class="full-height">
        <div class="container-fluid text-center centerstage">
            <div class="row">
                <div>
                    <img class="img-fluid main-logo" src="{% static 'photography/images/watermark_white_big.png' %}">
                </div>
            </div>
            <div class="row my-5">
                <div class="text-center">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item mx-2">
                            <a href=""><i class="fab fa-instagram white-text hvr-grow" style="font-size: 1.35rem;"></i></a>
                        </li>
                        <li class="list-inline-item mx-2">
                            <a href=""><i class="fab fa-github white-text hvr-grow" style="font-size: 1.35rem;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% if images %}
    <section id="gallery">
        <div class="container-fluid">
            <div class="row text-center mb-5">
                <div>
                    <h1 class="display-5">Gallery</h1>
                </div>
            </div>
            <div class="container">
                <div class="masonry">
                        {% for image in images %}
                        <div class="mgrid" data-aos="zoom-in-up" data-aos-delay="100">
                            <!-- <div class="hvr-grow"> -->
                                <img class="img-fluid" src="{{image.image_thumbnail_path.url}}">
                                <a class="mgrid__link popup-image" href="{{image.image_thumbnail_path.url}}"></a>
                                <!-- {% url 'image' image.pk %} -->
                            <!-- </div> -->
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block scripts-content %}

{% endblock %}