.hover-underline-right-to-left {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  
  .hover-underline-right-to-left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-right-to-left:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-left-to-right {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  
  .hover-underline-left-to-right:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-left-to-right:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

  .hover-underline-center-out {
      display: inline-block;
      position: relative;
  }
  .hover-underline-center-out:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.5px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .hover-underline-center-out:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .hover-underline-center-in {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .hover-underline-center-in:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.5px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
  }

  .hover-underline-center-in:hover:after { 
    width: 0; 
    left: 50%; 
  }