<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            {% block Title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'landingpage/css/parallax.css' %}">
    </head>
    <body class="body-props">
        <div id="body-bg-1"></div>
        <div id="body-bg-2"></div>
        <div id="body-bg-3"></div>
        <div>
            <nav class="navbar sticky-top navbar-expand-md" id="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img class="navbar-brand-img" src="{% static 'landingpage/images/logo-small-white.png' %}" alt="Rohan"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/#gallery">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Test2</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    
            <main class="container-fluid">
                {% block main-content %}{% endblock %}
            </main>
        </div>
    </body>

    <script>
        window.onscroll = () => {
        const nav = document.querySelector('#navbar');
        if(this.scrollY <= 10) nav.className = 'navbar sticky-top navbar-expand-md navbar-dark bg-transparent'; else nav.className = 'navbar sticky-top navbar-expand-md navbar-dark bg-dark';
      };
    </script>
</html>