{% extends "base.html" %}
{% load static %}
{% block Title %}
{{block.super}}
{% endblock %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'photography/assets/css/masonry-index.css' %}">
{% endblock %}

{% block main-content %}
<section id="intro" class="">
    <div class="container-fluid text-center position-fixed">
        <div class="row">
            <div>
                <h1 class="display-1">500</h1>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="110">
            <p class="fw-lighter fs-5">Oops! Something went wrong.</p>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts-content %}
<script>
    $(document).ready(function() {

        let body = document.querySelector('body');

        let intro_section = document.querySelector('#intro');
        intro_section.style.height = (body.clientHeight - nav.clientHeight) + 'px';
    });

</script>
{% endblock %}