{% extends "base.html" %}
{% load static %}
{% block Title %}
{{block.super}}
{% endblock %}

{% block head-content %}
<link rel="stylesheet" href="{% static 'photography/assets/css/masonry-index.css' %}">

<style>
    {{ rendered_style}}
</style>

{% endblock %}

{% block main-content %}
<section>
    <div class="container">
      {{ rendered_content }}
    </div>
</section>

{% endblock %}

{% block scripts-content %}
<script>
    $(document).ready(function() {

        // let body = document.querySelector('body');
        // body.setAttribute("height","100vh")

    });

</script>
{% endblock %}